.bash_history
.bashrc
.cache
.dotnet
.local
.mysql_history
.npm
.profile
.ssh
.viminfo
.vscode-server
.wget-hsts
myAppServer
snap
.android/
npm-debug.log*
.env
public/uploads/
.vscode/
.vscode-server/
.DS_Store
*.swp
